{%  macro getFormTrend1() %}
    <form action="/a5/trend1" method = "get">
        <div class="form-group">
            <label for="#">Number of</label>
            <select class="form-control" name="subCollectionName">
				<option value="authors">Authors</option>
				<option value="title">Papers</option>
				<option value="inCitations">In Citations</option>
				<option value="outCitations">Out Citations</option>
				<option value="keyPhrases">Key Phrases</option>
            </select>
        </div>
        <div class="form-group">
            <label for="#">Venue</label>
            <input type="text" class="form-control" pattern="[0-9a-zA-Z.*|]*" placeholder="arXiv" name="venue" required>
        </div>
        <div class="col-md-6 margin-bottom-20">
            <label for="#">From Year</label>
            <input type="number" class="form-control" placeholder="2000" pattern="^[0-9]{4}$" name="yearMin" min = "2000" max = "2016" required>
        </div>
        <div class="col-md-6 margin-bottom-20">
            <label for="#">To Year</label>
            <input type="number" class="form-control" placeholder="2015" pattern="^[0-9]{4}$" name="yearMax" min = "2000" max = "2016" required>
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend2() %}
    <form action="/a5/trend2" method = "get">
        <div class="form-group">
            <label for="#">Number of</label>
            <select class="form-control" name="subCollectionName">
				<option value="authors">Authors</option>
				<option value="title">Papers</option>
				<option value="inCitations">In Citations</option>
				<option value="outCitations">Out Citations</option>
				<option value="keyPhrases">Key Phrases</option>
            </select>
        </div>
        <div class="form-group">
            <label for="#">Venues</label>
            <input type="text" class="form-control" placeholder="venue1,venue2,..." pattern="^[a-zA-Z0-9;,\s]*$"name="venues" required>
        </div>
        <div class="margin-bottom-20">
            <label for="#">In Year</label>
            <input type="number" class="form-control" placeholder="2000" name="year" pattern="^[0-9]{4}$" min = "2000" max = "2016" required>
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend3() %}
    <form action="/a5/trend3" method = "get">
        <div class="margin-bottom-20">
            <label for="#">Top</label>
            <input type="number" class="form-control margin-bottom-20" pattern="^[0-9]{1,4}$" placeholder="10" name="n" required>
            <select class="form-control" name="elementType">
				<option value="authors">Authors</option>
				<option value="title">Papers</option>
				<option value="inCitations">In Citations</option>
				<option value="outCitations">Out Citations</option>
				<option value="year">Years</option>
				<option value="venue">Venues</option>
            </select>
        </div>
        <div class="form-group">
             <label for="#">For</label>
             <input name="filterKeys" type="text" class="form-control margin-bottom-20" pattern="^[a-zA-Z0-9\s,]*$" placeholder="venue/authors">
             <input type="text" class="form-control" placeholder="ICSE" pattern="^[a-zA-Z0-9\s|,.*]*$" name="filterValues">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend4() %}
    <form action="/a5/trend4" method = "get">
        <div class="form-group">
            <label for="#">Author</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9\s]*$" placeholder="Lin Li" name="author" required>
        </div>
        <div class="form-group">
            <label for="#">Group by</label>
            <select class="form-control" name="group">
				<option value="venue">Venues</option>
				<option value="year">Years</option>
				<option value="title">Papers</option>
            </select>
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend5() %}
    <form action="/a5/trend5" method = "get">
        <div class="form-group">
            <label for="#">Paper Title</label>
            <input type="text" class="form-control" pattern="^[a-zA-Z0-9\s.*|-()]*$" placeholder="Low-density parity check codes over GF(q)" name="title" required>
        </div>
        <div class="form-group">
            <label for="#">Max Graph Depth</label>
            <input type="number" class="form-control margin-bottom-20" patter="^[0-9]$" placeholder="1" name="maxDepth" required>
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}
