{%  macro getFormTrend1() %}
    <form action="/a5/trend1" method = "get">
        <div class="form-group">
            <label for="#">Number of Authors</label>
            <input type="number" class="form-control" placeholder="number" name="subCollectionName">
        </div>
        <div class="form-group">
            <label for="#">Venue</label>
            <input type="text" class="form-control" placeholder="name of the venue" name="venue">
        </div>
        <div class="col-md-6 margin-bottom-20">
            <label for="#">From Year</label>
            <input type="number" class="form-control" placeholder="2000" name="yearMin">
        </div>
        <div class="col-md-6 margin-bottom-20">
            <label for="#">To Year</label>
            <input type="number" class="form-control" placeholder="2015" name="yearMax">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend2() %}
    <form action="/a5/trend2" method = "get">
        <div class="form-group">
            <label for="#">Name of author</label>
            <input type="text" class="form-control" placeholder="authors" name="subCollectionName">
        </div>
        <div class="form-group">
            <label for="#">Venue</label>
            <input type="text" class="form-control" placeholder="venue1,venue2,..." name="venues">
        </div>
        <div class="margin-bottom-20">
            <label for="#">From Year</label>
            <input type="number" class="form-control" placeholder="2000" name="year">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend3() %}
    <form action="/a5/trend3" method = "get">
        <div class="margin-bottom-20">
            <label for="#">Top</label>
            <input type="number" class="form-control margin-bottom-20" placeholder="10" name="n">
            <input name="elementType" type="text" class="form-control" placeholder="authors">
        </div>
        <div class="form-group">
             <label for="#">Venue</label>
             <input name="filterKeys" type="text" class="form-control margin-bottom-20" placeholder="venue">
             <input type="text" class="form-control" placeholder="ICSE" name="filterValues">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend4() %}
    <form action="/a5/trend4" method = "get">
        <div class="form-group">
            <label for="#">Author</label>
            <input type="text" class="form-control" placeholder="Lin Li" name="author">
        </div>
        <div class="form-group">
            <label for="#">Venue</label>
            <input type="text" class="form-control" placeholder="venue" name="group">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}

{%  macro getFormTrend5() %}
    <form action="/a5/trend5" method = "get">
        <div class="form-group">
            <label for="#">Paper Title</label>
            <input type="text" class="form-control" placeholder="Low-density parity check codes over GF(q)" name="author">
        </div>
        <div class="form-group">
            <label for="#">Max Graph Depth</label>
            <input type="number" class="form-control margin-bottom-20" placeholder="2" name="n">
        </div>
        <div class="text-center margin-bottom-20" >
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
{% endmacro %}



        <!--
        <form action="/a5/trend1" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 1: Transition over time </b> </label>
            <br/> Number of
            <input type="text" class="d-inline-block-form-control" placeholder="authors" name="subCollectionName">
            <span> for venue </span>
            <input type="text" class="d-inline-block-form-control" placeholder="arXiv" name="venue">
            <span> from Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2000" name="yearMin">
            <span> to Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2015" name="yearMax">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
         -->

        <!--
        <form action="/a5/trend2" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 2: Contemporary Comparision </b> </label>
            <br/> Compare
            <input type="text" class="d-inline-block-form-control" placeholder="authors" name="subCollectionName">
            <span> for venues </span>
            <input type="text" class="d-inline-block-form-control" placeholder="venue1,venue2,..." name="venues">
            <span> published in Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2000" name="year">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
        -->
        <!--
        <form action="/a5/trend3" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 3: Top N X for Y </b> </label>
            <br/> Top
            <input name="n" type="number" class="d-inline-block-form-control" placeholder="10">
            <input name="elementType" type="text" class="d-inline-block-form-control" placeholder="authors">
            <span> for </span>
            <input name="filterKeys" type="text" class="d-inline-block-form-control" placeholder="venue">
            <input name="filterValues" type="text" class="d-inline-block-form-control" placeholder="ICSE">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
        -->
        <!--
        <form action="/a5/trend4" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 4: Collaboration of an Author </b> </label>
            <br/> Name
            <input type="text" class="d-inline-block-form-control" placeholder="Lin Li" name="author">
            <br/>  Related by :
            <input type="text" class="d-inline-block-form-control" placeholder="venue" name="group">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
    </div>
    -->
