{%  import 'views/common_functions/common_function.html' as commonFunctions %}
{{ commonFunctions.getHTMLHeader(title, "UTF-8", [css_bootstrap, css_sheet], ["https://www.gstatic.com/charts/loader.js"]) }}
<body class="body-bg">
    {{ commonFunctions.getToolBar() }}
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["{{ xLabel }}", "{{ yLabel }}"],
                {% for item in data %}
                    ["{{ item['label'] }}", {{ item['value'] }}],
                {% endfor %}
            ]);

            var options = {
                title: "{{ title | safe }}",
                width: 1000,
                height: 600,
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("column_chart"));
            chart.draw(data, options);
          }
    </script>
    <div id="column_chart" style="width: 1000px; height: 600px;"></div>
    {{ commonFunctions.getFooter() }}
    {{ commonFunctions.loadJavaScriptFiles() }}
</body>
{{ commonFunctions.getEndFileHTML() }}