{%  import 'views/common_functions/common_function.html' as commonFunctions %}
{% import 'views/common_functions/form_common.html' as commonForm %}
{{ commonFunctions.getHTMLHeader(title, "UTF-8", ['/static/bootstrap/css/bootstrap.css', '/static/design.css', "/static/vis.min.css"], ["https://www.gstatic.com/charts/loader.js", "/static/vis.min.js"]) }}
<body class="body-bg">
    {{ commonFunctions.getToolBar() }}

    <h1 class="text-center">{{ page_title }}</h1>
    <div id="network" class="container" style="height: 800px"></div>

    <script type="text/javascript">
        // create an array with nodes

        var nodes = new vis.DataSet([
            {% for id, name, title, color in nodes %}
                {id: "{{ id }}", label: "{{ name }}", title: "{{ title | safe }}", color: "{{ color }}"},
            {% endfor %}
        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            {% for from, to in edges %}
                {from: '{{ from }}', to: '{{ to }}'},
            {% endfor %}
        ]);

        // create a network
        var container = document.getElementById('network');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
    <div class="container">
        {{ commonForm[form_function]() }}
    </div>
    {{ commonFunctions.getFooter() }}
    {{ commonFunctions.loadJavaScriptFiles() }}
</body>
{{ commonFunctions.getEndFileHTML() }}
</body>
</html>
