{%  import 'views/common_functions/common_function.html' as commonFunctions %}
{{ commonFunctions.getHTMLHeader(title, "UTF-8", ['/static/bootstrap/css/bootstrap.css', '/static/design.css'], ["https://www.gstatic.com/charts/loader.js"]) }}
<body class="body-bg">
    {{ commonFunctions.getToolBar() }}
    <div class="container">

          <h1 class="text-center">Conference Information Retrieval</h1>
          <br />

          <!--A4 Questions: <a href="/a4/q1">Q1</a> <a href="/a4/q2">Q2</a> <a href="/a4/q3">Q3</a> <a href="/a4/q4">Q4</a> <a href="/a4/q5">Q5</a>
          <br /><br />
          A5 Questions: <a href="/a5/trend1?subCollectionName=authors&venue=arXiv&yearMin=2000&yearMax=2017">Trend 1</a>
        -->
        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend1" >Trend 1: Transition over time</a>
        <div class="text-left" id="div-Trend1">
            <form action="/a5/trend1" method = "get">
                <div class="form-group">
                    <label for="#">Number of Authors</label>
                    <input type="number" class="form-control" placeholder="number" name="subCollectionName">
                </div>
                <div class="form-group">
                    <label for="#">Venue</label>
                    <input type="text" class="form-control" placeholder="name of the venue" name="venue">
                </div>
                <div class="col-md-6 margin-bottom-20">
                    <label for="#">From Year</label>
                    <input type="number" class="form-control" placeholder="2000" name="yearMin">
                </div>
                <div class="col-md-6 margin-bottom-20">
                    <label for="#">To Year</label>
                    <input type="number" class="form-control" placeholder="2015" name="yearMax">
                </div>
                <div class="text-center margin-bottom-20" >
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </form>
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend2" >Trend 2: Contemporary Comparison</a>
        <div class="text-left" id="div-Trend2">
            <form action="/a5/trend2" method = "get">
                <!--
                <div class="form-group">
                    <label for="#">Number of Authors</label>
                    <input type="text" class="form-control" placeholder="authors" name="subCollectionName">
                </div>
                -->
                <div class="form-group">
                    <label for="#">Venue</label>
                    <input type="text" class="form-control" placeholder="venue1,venue2,..." name="venues">
                </div>
                <div class="margin-bottom-20">
                    <label for="#">From Year</label>
                    <input type="number" class="form-control" placeholder="2000" name="year">
                </div>
                <div class="text-center margin-bottom-20" >
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </form>
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend3" >Trend 3: Top N X for Y</a>
        <div class="text-left" id="div-Trend3">
            <form action="/a5/trend3" method = "get">
                <div class="margin-bottom-20">
                    <label for="#">Top</label>
                    <input type="number" class="form-control" placeholder="10" name="year">
                </div>
                <div class="form-group">
                    <label for="#">Venue</label>
                    <input type="text" class="form-control" placeholder="ICSE" name="filterValues">
                </div>
                <div class="text-center margin-bottom-20" >
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </form>
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend4" >Trend 4: Collaboration of an Author</a>
        <div class="text-left" id="div-Trend4">
            <form action="/a5/trend4" method = "get">
                <div class="form-group">
                    <label for="#">Author</label>
                    <input type="text" class="form-control" placeholder="Lin Li" name="author">
                </div>
                <div class="form-group">
                    <label for="#">Venue</label>
                    <input type="text" class="form-control" placeholder="venue" name="group">
                </div>
                <div class="text-center margin-bottom-20" >
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </form>
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend5" >Trend 5: Custom trend</a>
        <div class="text-left" id="div-Trend5">
            <form action="/a5/trend5" method = "get">
            </form>
        </div>


        <!--
        <form action="/a5/trend1" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 1: Transition over time </b> </label>
            <br/> Number of
            <input type="text" class="d-inline-block-form-control" placeholder="authors" name="subCollectionName">
            <span> for venue </span>
            <input type="text" class="d-inline-block-form-control" placeholder="arXiv" name="venue">
            <span> from Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2000" name="yearMin">
            <span> to Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2015" name="yearMax">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
         -->

        <!--
        <form action="/a5/trend2" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 2: Contemporary Comparision </b> </label>
            <br/> Compare
            <input type="text" class="d-inline-block-form-control" placeholder="authors" name="subCollectionName">
            <span> for venues </span>
            <input type="text" class="d-inline-block-form-control" placeholder="venue1,venue2,..." name="venues">
            <span> published in Year </span>
            <input type="number" class="d-inline-block-form-control" placeholder="2000" name="year">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
        -->
        <!--
        <form action="/a5/trend3" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 3: Top N X for Y </b> </label>
            <br/> Top
            <input name="n" type="number" class="d-inline-block-form-control" placeholder="10">
            <input name="elementType" type="text" class="d-inline-block-form-control" placeholder="authors">
            <span> for </span>
            <input name="filterKeys" type="text" class="d-inline-block-form-control" placeholder="venue">
            <input name="filterValues" type="text" class="d-inline-block-form-control" placeholder="ICSE">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
        -->
        <!--
        <form action="/a5/trend4" method = "get">
          <div class="form-group">
            <label for="trend1"> <b> Trend 4: Collaboration of an Author </b> </label>
            <br/> Name
            <input type="text" class="d-inline-block-form-control" placeholder="Lin Li" name="author">
            <br/>  Related by :
            <input type="text" class="d-inline-block-form-control" placeholder="venue" name="group">
            <button type="submit" class="d-inline-block btn btn-primary" value="Submit">Submit</button>
          </div>
        </form>
    </div>
    -->
    {{ commonFunctions.getFooter() }}
    {{ commonFunctions.loadJavaScriptFiles() }}
    <script>
        $( document ).ready(function() {
            $('#div-Trend1').hide();
            $('div').filter(function() {
                  return this.id.match(/Trend.*/);
            }).hide();
            //$('a.btn-trend').addClass("active");
        });

        $(function() {
            $('a').click(function(){
                var value;
                if (value = $(this).attr("id").match(/^Trend[0-9]$/)){
                    if ( $('#div-'+value).is(":visible")){
                        $('#'+value).removeClass("active");
                        $('#div-'+value).hide(1000);
                    }else{
                        $('#'+value).addClass("active");
                        $('#div-'+value).show('slow');
                    }
                }
            });
        });
    </script>
</body>
{{ commonFunctions.getEndFileHTML() }}