{% import 'views/common_functions/common_function.html' as commonFunctions %}
{% import 'views/common_functions/form_common.html' as commonForm %}
{{ commonFunctions.getHTMLHeader(title, "UTF-8", ['/static/bootstrap/css/bootstrap.css', '/static/design.css'], ["https://www.gstatic.com/charts/loader.js"]) }}
<body class="body-bg">
    {{ commonFunctions.getToolBar() }}
    <div class="container">

        <h1 style="font-size: 70px; margin-bottom: 30px;" class="text-center"><b>CIR</b></h1>
        <br />

          <!--A4 Questions: <a href="/a4/q1">Q1</a> <a href="/a4/q2">Q2</a> <a href="/a4/q3">Q3</a> <a href="/a4/q4">Q4</a> <a href="/a4/q5">Q5</a>
          <br /><br />
          A5 Questions: <a href="/a5/trend1?subCollectionName=authors&venue=arXiv&yearMin=2000&yearMax=2017">Trend 1</a>
        -->
        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend1" >Trend 1: Transition over time</a>
        <div class="text-left" id="div-Trend1">
            {{ commonForm.getFormTrend1() }}
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend2" >Trend 2: Contemporary Comparison</a>
        <div class="text-left" id="div-Trend2">
            {{ commonForm.getFormTrend2() }}
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend3" >Trend 3: Top N X for Y</a>
        <div class="text-left" id="div-Trend3">
            {{ commonForm.getFormTrend3() }}
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend4" >Trend 4: Collaboration of an Author</a>
        <div class="text-left" id="div-Trend4">
            {{ commonForm.getFormTrend4() }}
        </div>

        <a class="btn btn-primary btn-block margin-bottom-20 btn-trend" id="Trend5" >Trend 5: Citation Graph</a>
        <div class="text-left" id="div-Trend5">
            {{ commonForm.getFormTrend5() }}
        </div>


    {{ commonFunctions.getFooter() }}
    {{ commonFunctions.loadJavaScriptFiles() }}
    <script>
        $( document ).ready(function() {
            //$('#div-Trend1').hide();
            //$('div').filter(function() {
            //      return this.id.match(/Trend.*/);
            //}).hide();
            $('a.btn-trend').addClass("active");
        });

        $(function() {
            $('a').click(function(){
                var value;
                if (value = $(this).attr("id").match(/^Trend[0-9]$/)){
                    if ( $('#div-'+value).is(":visible")){
                        $('#'+value).removeClass("active");
                        $('#div-'+value).hide(1000);
                    }else{
                        $('#'+value).addClass("active");
                        $('#div-'+value).show('slow');
                    }
                }
            });
        });
    </script>
</body>
{{ commonFunctions.getEndFileHTML() }}
