<html>
<head>
    <title>Question 5</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        #curve_chart {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Year", "Number of Citations"],
                {% for year, num in data %}
                    ["{{ year }}", {{ num }}],
                {% endfor %}
            ]);

            var options = {
                title: "Number of Yearly Citations of Yoshua Bengio Between 2000 and 2016",
                width: 1000,
                height: 600,
            };
            var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
            chart.draw(data, options);
          }
    </script>
    <div id="curve_chart" style="width: 1000px; height: 600px;"></div>
</body>
</html>
